target/
.factorypath
.settings
.classpath
bin/
*.log
.project
.DS_Store

**/atom.xml
**/atomRecent.xml
idxall.html.md
idxall.md
idxkeyword.html.md
idxkeyword.md
idxmemo.html.md
idxmemo.md
settings.html.md
settings.md
**/index.html.md
**/index.md
